* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 1500px;
  font-family: Verdana, sans-serif;
  font-style: italic;
  text-transform: capitalize;
}

body {
  background-color: #495057;
}

body .main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 400px);
  grid-auto-rows: 400px;
  gap: 5px;
  margin: 20px;
}

.navbar-section h1 {
  text-align: center;
  padding: 5px 0 5px 0;
  background-image: linear-gradient(to right, #38b000, #8b5e34, #ffc300);
  opacity: 70%;
  letter-spacing: .1em;
  color: #111;
}

.navbar-section h1::first-letter {
  font-size: 1.2em;
}

.navbar-section nav {
  height: 100px;
}

.navbar-section nav .navbar-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 92%;
}

.navbar-section nav .navbar-main #nav-main {
  color: #eee;
  font-size: 1.6em;
  padding: 20px 20px 0 0;
  transition: color 1s ease-out;
}

.navbar-section nav .navbar-main #nav-main:hover {
  color: #38b000;
}

.navbar-section nav .navbar-main:hover .item {
  display: inline-block;
  animation: menu 2s 1 forwards;
}

@keyframes menu {
  from {
    transform: none;
  }
  to {
    transform: translate(-30px, 0);
  }
}

.navbar-section nav .item {
  display: none;
}

.navbar-section nav .item i {
  color: #212529;
  font-size: 1.3em;
  margin: 20px 30px 0 0;
  background-color: #fff;
  box-shadow: 0 0 1px 5px #fff;
  border-radius: 25px;
  animation: col 3s ease-out infinite;
  position: relative;
  transition: color 2s ease-out;
}

@keyframes col {
  from {
    border-radius: 25px;
  }
  to {
    border-radius: 5px;
  }
}

.navbar-section nav .item i:hover {
  color: #38b000;
}

.first-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.first-section-image .img1 {
  margin: 0 13% 0 7%;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 52px 4px 0 #eee;
}

.first-section-image .first-span-icon {
  color: #fcbf49;
}

.first-section-image p {
  letter-spacing: 0.1em;
}

.second-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.second-section-image .img2 {
  margin: 0 13% 0 7%;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0 52px 4px 0 #eee;
}

.second-section-image .second-span-icon {
  color: #fcbf49;
  margin: -48px 0 0 0;
}

.second-section-image .second-span-icon #last-star {
  color: rgba(252, 191, 73, 0.4);
}

.second-section-image p {
  letter-spacing: 0.1em;
  margin: -38px 0 0 0;
}

.third-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.fourth-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.fifth-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.sixth-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.seventh-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.eighth-section-image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

img {
  width: 60%;
  height: auto;
}

.main {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */