*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 1500px;
    font-family:Verdana, sans-serif;
    font-style: italic;
    text-transform: capitalize;
}
$main-color:#495057;
$secendery-color:#212529;
$icon-color:#ffc300;
$text-color:#333333;
$text-color2:#111;
$nav-icon-color:#eee;
$green:#38b000;
$star-color:#fcbf49;
$padd:"padding";
$mar:"margin";
$f-s:"font-size";
$t-align:"text-align";
$box-s:"box-shadow";
$bor-r:"border-radius";
$sectionOneImageColor:#90be6d;
$sectionTwoImageColor:#885d35;
$main-color2:(
    color-green:#007f5f,
    color-black:#111,
);
@mixin display($dir,$just,$align,$wrap) {
    display: flex;
    flex-direction:$dir;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
}
@mixin border-rad($border) {
    border-radius: $border;
}
@mixin animation($params) {
    animation:$params;
}
@mixin transition($trans) {
    transition:$trans;
}
@mixin  hover-image-style($width,$height,$top,$right,$backcolor) {
    line-height: 4em;
        text-transform: lowercase;
        color: map-get($map: $main-color2, $key:color-black );
        background-color: $backcolor;
        #{$bor-r}:15px; 
        text-align: center;
        z-index:10;
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        right:$right;   
        display: none;
        font-weight: 600;
        #{$f-s}:0.9em;
        @include transition(opacity 2s ease-in);
        &:hover{
            opacity:70%;
        }
}
    body{
    background-color:$main-color;
    .main{
   display: grid;
   grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
   grid-template-rows:repeat(3,400px);
   grid-auto-rows:400px;
   gap:5px;   
   #{$mar}:20px;
}
}
.navbar-section{
    h1{
        #{$t-align}: center;
        #{$padd}: 5px 0 5px 0;   
        background-image: linear-gradient(to right, #38b000,#8b5e34,$icon-color);
        opacity: 70%;
        letter-spacing: .1em;
        color: $text-color2;
        &::first-letter{
            #{$f-s}:1.2em;
        }
    }
   nav{
    height: 100px;
    .navbar-main{
        @include display(row-reverse,flex-start,center,nowrap);
        #{$mar}-left:92%;
        #nav-main{
            color: $nav-icon-color;
            #{$f-s}:1.6em;
            #{$padd}:20px 20px 0 0;
           @include transition(color 1s ease-out);
           &:hover{
               color:$green;  
           }        
           }
           &:hover{
               .item{
                   display: inline-block;
                @include animation(menu 2s 1 forwards);
                @keyframes menu {
                    from{transform: none;}
                    to{transform:translate(-30px,0);}
                }
            }
           }
    }
    .item{
        i{
        color: $secendery-color;
        #{$f-s}:1.3em;
        #{$mar}:20px 30px 0 0;
        background-color: #fff;
        #{$box-s}:0 0 1px 5px #fff ;
        @include border-rad(25px);
        @include animation(col 3s ease-out infinite);
        position: relative;
        @keyframes col {
            from{@include border-rad(25px)};
            to{@include border-rad(5px)};
        }
        @include transition(color 2s ease-out);
        &:hover{
            color:$green;
        }
        }
       display:none;
    }
   }
 }

.first-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img1{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .first-span-icon{
        color:$star-color;
    }
    p{
        letter-spacing:0.1em; 
    }
    .hover-p{
        @include hover-image-style(86%,50%,2px,31px,$sectionOneImageColor);
        @include animation( disp 3s 1);
        @keyframes disp {
            from{height:0;}
            to{height:50%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p{
            display: block;
            height: 50%;
        }
    }
   
}

.second-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img2{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .second-span-icon{
        color:$star-color;
        #{$mar}:-48px 0 0 0 ;
        #last-star{
            color: rgba($color: #fcbf49, $alpha: 0.4);
        }
    }
    p{
        letter-spacing:0.1em;
        #{$mar}:-38px 0 0 0 ;
    }
    .hover-p2{
        @include hover-image-style(86%,30%,83px,31px,$sectionTwoImageColor);
        @include animation( disp2 2s 1);
        @keyframes disp2 {
            from{height:0;}
            to{height:30%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p2{
            display: block;
            height: 30%;
        }
    }
}
.third-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img3{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .third-span-icon{
        color:$star-color;
    }
    p{
        letter-spacing:0.1em;
    }
    .hover-p3{
        @include hover-image-style(86%,35%,2px,31px,#7f7f7f);
        @include animation(disp3 2s 1);
        @keyframes disp3 {
            from{height:0;}
            to{height:35%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }
    }
    &:hover{
        .hover-p3{
        display: block;
        height: 35%;
        }
    }
}
.fourth-section-image{
    @include display(column,space-evenly,center,nowrap)
}
.fifth-section-image{
    @include display(column,space-evenly,center,nowrap)
}
.sixth-section-image{
    @include display(column,space-evenly,center,nowrap)
}
.seventh-section-image{
    @include display(column,space-evenly,center,nowrap)
}
.eighth-section-image{
    @include display(column,space-evenly,center,nowrap)
}








img{
    width: 60%;
    height: auto;
}

.main{
    margin-top: 20px;
}