*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 1500px;
    font-family:Verdana, sans-serif;
    font-style: italic;
    text-transform: capitalize;
}
$main-color:#495057;
$secendery-color:#212529;
$icon-color:#ffc300;
$text-color:#333333;
$text-color2:#111;
$nav-icon-color:#eee;
$green:#38b000;
$star-color:#fcbf49;
$last-star-color: rgba($color: #fcbf49, $alpha: 0.4);
$padd:"padding";
$mar:"margin";
$f-s:"font-size";
$t-align:"text-align";
$box-s:"box-shadow";
$bor-r:"border-radius";
$sectionOneImageColor:#90be6d;
$sectionTwoImageColor:#885d35;
$main-color2:(
    color-green:#007f5f,
    color-black:#111,
);
@mixin display($dir,$just,$align,$wrap) {
    display: flex;
    flex-direction:$dir;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
}
@mixin border-rad($border) {
    border-radius: $border;
}
@mixin animation($params) {
    animation:$params;
}
@mixin transition($trans) {
    transition:$trans;
}
@mixin  hover-image-style($width,$height,$top,$right,$backcolor) {
    line-height: 4em;
        text-transform: lowercase;
        color: map-get($map: $main-color2, $key:color-black );
        background-color: $backcolor;
        #{$bor-r}:15px; 
        text-align: center;
        z-index:10;
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        right:$right;   
        display: none;
        font-weight: 600;
        #{$f-s}:0.9em;
        @include transition(opacity 2s ease-in);
        &:hover{
            opacity:70%;
        }
}
    body{
        overflow-x: hidden;
    background-color:$main-color; 
    .main{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
        grid-template-rows:repeat(3,400px);
        grid-auto-rows:400px;
        gap:5px;  
   #{$mar}:20px;
   margin-top: 20px;
}
}
.navbar-section{
    h1{
        #{$t-align}: center;
        #{$padd}: 5px 0 5px 0;   
        background-image: linear-gradient(to right, #38b000,#8b5e34,$icon-color);
        opacity: 70%;
        letter-spacing: .1em;
        color: $text-color2;
        &::first-letter{
            #{$f-s}:1.2em;
        }
    }
   nav{
    height: 100px;
    .navbar-main{
        @include display(row-reverse,flex-start,center,nowrap);
        #{$mar}-left:92%;
        #nav-main{
            color: $nav-icon-color;
            #{$f-s}:1.6em;
            #{$padd}:20px 20px 0 0;
           @include transition(color 1s ease-out);
           &:hover{
               color:$green;  
           }        
           }
           &:hover{
               .item{
                   display: inline-block;
                @include animation(menu 2s 1 forwards);
                @keyframes menu {
                    from{transform: none;}
                    to{transform:translate(-30px,0);}
                }
            }
           }
    }
    .item{
        i{
        color: $secendery-color;
        #{$f-s}:1.3em;
        #{$mar}:20px 30px 0 0;
        background-color: #fff;
        #{$box-s}:0 0 1px 5px #fff ;
        @include border-rad(25px);
        @include animation(col 3s ease-out infinite);
        position: relative;
        @keyframes col {
            from{@include border-rad(25px)};
            to{@include border-rad(5px)};
        }
        @include transition(color 2s ease-out);
        &:hover{
            color:$green;
        }
        }
       display:none;
    }
   }
 }

.first-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    
    .img1{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .first-span-icon{
        color:$star-color;
    }
    p{
        letter-spacing:0.1em; 
    }
    .hover-p{
        @include hover-image-style(86%,50%,2px,31px,$sectionOneImageColor);
        @include animation( disp 3s 1);
        @keyframes disp {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p{
            display: block;
            height: 56%;
        }
    }
   
}

.second-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img2{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .second-span-icon{
        color:$star-color;
        #{$mar}:-48px 0 0 0 ;
        #last-star{
            color: $last-star-color;
        }
    }
    p{
        letter-spacing:0.1em;
        #{$mar}:-38px 0 0 0 ;
    }
    .hover-p2{
        @include hover-image-style(86%,30%,83px,31px,$sectionTwoImageColor);
        @include animation( disp2 2s 1);
        @keyframes disp2 {
            from{height:0;}
            to{height: 45%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p2{
            display: block;
            height: 45%;
        }
    }
}
.third-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img3{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .third-span-icon{
        color:$star-color;
    }
    p{
        letter-spacing:0.1em;
    }
    .hover-p3{
        @include hover-image-style(86%,35%,2px,31px,#7f7f7f);
        @include animation(disp3 2s 1);
        @keyframes disp3 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }
    }
    &:hover{
        .hover-p3{
        display: block;
        height: 56%;
        }
    }
}
.fourth-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img4{
        #{$mar}:10px 0 0 5%;
        width:90%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .fourth-span-icon{
        color:$star-color;
        #{$mar}-top:-9px;
        #last-star4{
            color:$last-star-color;
        }
    }
    p{
        letter-spacing:0.1em; 
        #{$mar}-top:-1px;
    }
    .hover-p4{
        @include hover-image-style(91%,50%,17px,18px,#212529);
        @include animation( disp4 3s 1 forwards);
        @keyframes disp4 {
            from{height:0;}
            to{height:60%;}
            from{color:$secendery-color}
            to{color:#fff;}
        }  
    }
    &:hover{
        .hover-p4{
            display: block;
            height: 60%;
        }
    }

}
.fifth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img5{
        #{$mar}:0 13% 0 7%;
        width:85%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .fifth-span-icon{
        color:$star-color;
        #fourth-star-5{
            color:$last-star-color;
        }
        #last-star5{
            color: $last-star-color;
        }
    }
    p{
        letter-spacing:0.1em;
    }
    .hover-p5{
         #{$padd}:2px;
        @include hover-image-style(86%,35%,2px,31px,#b69121);
        @include animation(disp55 2s 1 forwards);
        @keyframes disp55 {
            from{height:0;}
            to{height:56%;}
            from{color:$secendery-color}
            to{color:#fff}
        }
    }
    &:hover{
        .hover-p5{
        display: block;
        height: 56%;
        }
    }

}
.sixth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img6{
        #{$mar}:30px 13% 0 2.3%;
        width:95%;
        height:100%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .sixth-span-icon{
        color:$star-color;
        #{$padd}: 25px 0 0 0;
    }
    p{
        letter-spacing:0.1em;
       #{$padd}: 0 0 35px 0;
    }
    .hover-p6{
         #{$padd}:2px;
        @include hover-image-style(96%,35%,32px,9px,#ffff3f);
        @include animation(disp6 2s 1);
        @keyframes disp6 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p6{
        display: block;
        height: 56%;
        }
    }

}
.seventh-section-image{
    grid-column:1/3;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img7{
        #{$mar}:20px 0 0 16%;
        width:70%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .seventh-span-icon{
        color:$star-color;
        #{$mar}:-5px 0 0 2px;
    }
    p{
        letter-spacing:0.1em;
        #{$mar}:0 0 0 2px;
    }
    .hover-p7{
         #{$padd}:2px;
        @include hover-image-style(71%,35%,23px,109px,#dedede);
        @include animation(disp55 2s 1 forwards);
        @keyframes disp55 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p7{
        display: block;
        height: 56%;
        }
    }
}
.eighth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img8{
        #{$mar}:0 13px 0 10px;
        width:95%;
        height:130%;
        #{$bor-r}:10px;
        #{$box-s}:0 52px 2px 0 $nav-icon-color;
    }
    .eighth-span-icon{
        color:$star-color;
        #{$mar}: 58px 0 0 0;
    }
    p{
        letter-spacing:0.1em;
       #{$mar}: 0 0 48px 0;
    }
    .hover-p8{
         #{$padd}:2px;
        @include hover-image-style(96%,35%,8px,8px,#3f37c9);
        @include animation(disp8 2s 1);
        @keyframes disp8 {
            from{height:0;}
            to{height:35%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p8{
        display: block;
        height: 35%;
        }
    }

}


// media screen style !!!!!!!!!!!! //
@media screen and (max-width:600px ){
    .seventh-section-image{
        grid-column: 1/1;
    }
}
@media screen and (max-width:400px ) {
    body{
        overflow-x: hidden;
        .main{
            grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
        }
    }
    .navbar-section{
        h1{
            #{$padd}: 8px 0 8px 0;
        }
        nav{
           .navbar-main{
            #{$mar}-left:72%;
           }
        }
    }
    .first-section-image{
        @include display(column,center,center,nowrap);
        // .img1{
        //  height:118%;
        // }
        &:hover{
            .hover-p{
            display: none;
            }
        }
    }
    .second-section-image{
        @include display(column,center,center,nowrap);
        #{$mar}: 0 10px 20px 0;
        .second-span-icon{
            color:$star-color;
            #{$mar}: 26px 0 0 5px ;
            #last-star{
                color: $last-star-color;
            }
        }
        p{
            letter-spacing:0.1em;
            #{$mar}:0 0 0 5px ;
        }
        .img2{
            width: 90%;
            height: 110%;
        }
        &:hover{
            .hover-p2{
            display: none;
            }
        }
    }
    .third-section-image{
        @include display(column,center,center,nowrap);
        &:hover{
            .hover-p3{
            display: none;
            }
        }
    }
    .fourth-section-image{
        @include display(column,center,center,nowrap);
        width:100%;
        &:hover{
            .hover-p4{
            display: none;
            }
        }
        .fourth-span-icon{
            #{$mar}-top:2px;
        }
        p{
            letter-spacing:0.1em; 
            #{$mar}-top:2px;
        }
    }
    .fifth-section-image{
        @include display(column,center,center,nowrap);
        &:hover{
            .hover-p5{
            display: none;
            }
        }
        .fifth-span-icon{
            #{$mar}-top:1px;
        }
        p{
          #{$mar}-top:2px;
        }
    }
    .sixth-section-image{
        @include display(column,center,center,nowrap);
        .img6{
            width:85%;
        height: 140%;
        #{$mar}:0 0 0 26px;
        }
        &:hover{
            .hover-p6{
            display: none;
            }
        }
        .sixth-span-icon{
           #{$mar}: 54px 0 0 0 ;
        }
    }
    .seventh-section-image{
        @include display(column,center,center,nowrap);
        grid-column: 1/1;
        #{$mar}: -10px 0 0 0  ;
        .img7{
            width:90%;
            height:160%;
            #{$mar}: 0 0 0 18px  ;
        }
        &:hover{
            .hover-p7{
            display: none;
            }
        }
        .seventh-span-icon{
            #{$mar}: 112px 0 0 0;
        }
        p{
            #{$mar}:1px 0 0 0;
        }
    }
    .eighth-section-image{
        @include display(column,center,center,nowrap);
        &:hover{
            .hover-p8{
            display: none;
            }
        }
    }

}