*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
    max-width: 1500px;
    font-family:Verdana, sans-serif;
    font-style: italic;
    text-transform: capitalize;
}
$main-color:#495057;
$secendery-color:#212529;
$icon-color:#ffc300;
$text-color:#333333;
$text-color2:#111;
$nav-icon-color:#eee;
$green:#38b000;
$star-color:#fcbf49;
$last-star-color: rgba($color: #fcbf49, $alpha: 0.4);
$padd:"padding";
$mar:"margin";
$f-s:"font-size";
$t-align:"text-align";
$box-s:"box-shadow";
$bor-r:"border-radius";
$leter:"letter-spacing";
$sectionOneImageColor:#90be6d;
$sectionTwoImageColor:#885d35;
$main-color2:(
    color-green:#007f5f,
    color-black:#111,
);
@mixin display($dir,$just,$align,$wrap) {
    display: flex;
    flex-direction:$dir;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
}
@mixin border-rad($border) {
    border-radius: $border;
}
@mixin animation($params) {
    animation:$params;
}
@mixin transition($trans) {
    transition:$trans;
}
@mixin  hover-image-style($width,$height,$top,$right,$backcolor) {
    line-height: 4em;
        text-transform: lowercase;
        color: map-get($map: $main-color2, $key:color-black );
        background-color: $backcolor;
        #{$bor-r}:15px; 
        text-align: center;
        z-index:10;
        width: $width;
        height: $height;
        position: absolute;
        top: $top;
        right:$right;   
        display: none;
        font-weight: 600;
        #{$f-s}:0.9em;
        @include transition(opacity 2s ease-in);
        &:hover{
            opacity:70%;
        }
}
@mixin shadowRaduis {
    #{$bor-r}:10px;
    #{$box-s}:0 52px 2px 0 $nav-icon-color;
}
    body{
        overflow-x: hidden;
    background-color:$main-color; 
    .main{
        display: grid;
        grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
        grid-template-rows:repeat(3,400px);
        grid-auto-rows:400px;
        gap:5px;  
   #{$mar}:20px;
}
}
.navbar-section{
    h1{
        #{$t-align}: center;
        #{$padd}: 5px 0 5px 0;   
        background-image: linear-gradient(to right, #38b000,#8b5e34,$icon-color);
        opacity: 70%;
        #{$leter}: .1em;
        color: $text-color2;
        &::first-letter{
            #{$f-s}:1.2em;
        }
    }
   nav{
    height: 100px;
    .navbar-main{
        @include display(row-reverse,flex-start,center,nowrap);
        #{$mar}-left:92%;
        #nav-main{
            color: $nav-icon-color;
            #{$f-s}:1.6em;
            #{$padd}:20px 20px 0 0;
           @include transition(color 1s ease-out);
           &:hover{
               color:$green;  
           }        
           }
           &:hover{
               .item{
                   display: inline-block;
                @include animation(menu 2s 1 forwards);
                @keyframes menu {
                    from{transform: none;}
                    to{transform:translate(-30px,0);}
                }
            }
           }
    }
    .item{
        i{
        color: $secendery-color;
        #{$f-s}:1.3em;
        #{$mar}:20px 30px 0 0;
        background-color: #fff;
        #{$box-s}:0 0 1px 5px #fff ;
        @include border-rad(25px);
        @include animation(col 3s ease-out infinite);
        position: relative;
        @keyframes col {
            from{@include border-rad(25px)};
            to{@include border-rad(5px)};
        }
        @include transition(color 2s ease-out);
        &:hover{
            color:$green;
        }
        }
       display:none;
    }
   }
 }

.first-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    
    .img1{
        #{$mar}:0 13% 0 7%;
        width:85%;
       @include shadowRaduis();
    }
    .first-span-icon{
        color:$star-color;
    }
    p{
        #{$leter}:0.1em; 
    }
    .hover-p{
        @include hover-image-style(86%,50%,2px,31px,$sectionOneImageColor);
        @include animation( disp 3s 1);
        @keyframes disp {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p{
            display: block;
            height: 56%;
        }
    }
   
}

.second-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img2{
        #{$mar}:0 13% 0 7%;
        width:85%;
        @include shadowRaduis();
    }
    .second-span-icon{
        color:$star-color;
        #{$mar}:-48px 0 0 0 ;
        #last-star{
            color: $last-star-color;
        }
    }
    p{
        #{$leter}:0.1em;
        #{$mar}:-38px 0 0 0 ;
    }
    .hover-p2{
        @include hover-image-style(86%,30%,83px,31px,$sectionTwoImageColor);
        @include animation( disp2 2s 1);
        @keyframes disp2 {
            from{height:0;}
            to{height: 45%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }  
    }
    &:hover{
        .hover-p2{
            display: block;
            height: 45%;
        }
    }
}
.third-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img3{
        #{$mar}:0 13% 0 7%;
        width:85%;
        @include shadowRaduis();
    }
    .third-span-icon{
        color:$star-color;
    }
    p{
        #{$leter}:0.1em;
    }
    .hover-p3{
        @include hover-image-style(86%,35%,2px,31px,#7f7f7f);
        @include animation(disp3 2s 1);
        @keyframes disp3 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color;}
        }
    }
    &:hover{
        .hover-p3{
        display: block;
        height: 56%;
        }
    }
}
.fourth-section-image{
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img4{
        #{$mar}:10px 0 0 5%;
        width:90%;
        @include shadowRaduis();
    }
    .fourth-span-icon{
        color:$star-color;
        #{$mar}-top:-9px;
        #last-star4{
            color:$last-star-color;
        }
    }
    p{
        #{$leter}:0.1em; 
        #{$mar}-top:-1px;
    }
    .hover-p4{
        @include hover-image-style(91%,50%,17px,18px,#212529);
        @include animation( disp4 3s 1 forwards);
        @keyframes disp4 {
            from{height:0;}
            to{height:60%;}
            from{color:$secendery-color}
            to{color:#fff;}
        }  
    }
    &:hover{
        .hover-p4{
            display: block;
            height: 60%;
        }
    }

}
.fifth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img5{
        #{$mar}:0 13% 0 7%;
        width:85%;
        @include shadowRaduis();
    }
    .fifth-span-icon{
        color:$star-color;
        #fourth-star-5{
            color:$last-star-color;
        }
        #last-star5{
            color: $last-star-color;
        }
    }
    p{
        #{$leter}:0.1em;
    }
    .hover-p5{
         #{$padd}:2px;
        @include hover-image-style(86%,35%,2px,31px,#b69121);
        @include animation(disp55 2s 1 forwards);
        @keyframes disp55 {
            from{height:0;}
            to{height:56%;}
            from{color:$secendery-color}
            to{color:#fff}
        }
    }
    &:hover{
        .hover-p5{
        display: block;
        height: 56%;
        }
    }

}
.sixth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img6{
        #{$mar}:30px 13% 0 2.3%;
        width:95%;
        height:100%;
        @include shadowRaduis();
    }
    .sixth-span-icon{
        color:$star-color;
        #{$padd}: 25px 0 0 0;
    }
    p{
        #{$leter}:0.1em;
       #{$padd}: 0 0 35px 0;
    }
    .hover-p6{
         #{$padd}:2px;
        @include hover-image-style(96%,35%,32px,9px,#ffff3f);
        @include animation(disp6 2s 1);
        @keyframes disp6 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p6{
        display: block;
        height: 56%;
        }
    }

}
.seventh-section-image{
    grid-column:1/3;
    position: relative;
    @include display(column,space-evenly,center,nowrap);
    .img7{
        #{$mar}:20px 0 0 16%;
        width:70%;
        @include shadowRaduis();
    }
    .seventh-span-icon{
        color:$star-color;
        #{$mar}:-5px 0 0 2px;
    }
    p{
        #{$leter}:0.1em;
        #{$mar}:0 0 0 2px;
    }
    .hover-p7{
         #{$padd}:2px;
        @include hover-image-style(71%,35%,23px,109px,#dedede);
        @include animation(disp55 2s 1 forwards);
        @keyframes disp55 {
            from{height:0;}
            to{height:56%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p7{
        display: block;
        height: 56%;
        }
    }
}
.eighth-section-image{
    position:relative;
    @include display(column,space-evenly,center,nowrap);
    .img8{
        #{$mar}:0 13px 0 10px;
        width:95%;
        height:130%;
        @include shadowRaduis();
    }
    .eighth-span-icon{
        color:$star-color;
        #{$mar}: 58px 0 0 0;
    }
    p{
        #{$leter}:0.1em;
       #{$mar}: 0 0 48px 0;
    }
    .hover-p8{
         #{$padd}:2px;
        @include hover-image-style(96%,35%,8px,8px,#3f37c9);
        @include animation(disp8 2s 1);
        @keyframes disp8 {
            from{height:0;}
            to{height:35%;}
            from{color:#fff}
            to{color:$secendery-color}
        }
    }
    &:hover{
        .hover-p8{
        display: block;
        height: 35%;
        }
    }

}

// media screen style !!!!!!!!!!!!
@media screen and (min-width : 1025px) and (max-width : 1249px) {
.first-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p{
            display:none;
        }
    }
    .img1{
     #{$mar}:-15px 0 0 8%;
    width:62%;
    }
    .first-span-icon{
    #{$mar}: 0 125px 0 0;
    }
    p{
        #{$mar}: 0 115px 0 0;
    }
}
.second-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p2{
            display:none;
        }
    }
    .img2{
    width:67%;
    #{$mar}:-100px 0 0 24%;
    }
    .second-span-icon{
        #{$mar}:0 0 0 87px ;
    }
    p{
        #{$mar}:0 0 0 87px ;
    }
}
.third-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p3{
            display:none;
        }
    }
    .img3{
    width: 61%;
    #{$mar}:60px 0 0 8%;
    }
    .third-span-icon{
     #{$mar}:0 129px 0 0;
    }
    p{
        #{$mar}:0 129px 0 0;
    }
}
.fourth-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p4{
            display:none;
        }
    }
    .img4{
        width:80%;
        #{$mar}:0 0 0 15%;
    }
    .fourth-span-icon{
        #{$mar}:2px 0 0 50px;
        
    }
    p{
        #{$mar}:1px 0 0 35px;
    }
}
.fifth-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p5{
            display:none;
        }
    }
    .img5{
        width:67%;
        #{$mar}:95px 0 0 5%;
    }
    .fifth-span-icon{
       #{$mar}: 0 133px 0 0;
    }
    p{
       #{$mar}:0 134px 0 0;
    }
}
.sixth-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p6{
            display:none;
        }
    }
    .img6{
        width:70%;
        #{$mar}:50px 0 0 15%;
    }
    .sixth-span-icon{
        #{$mar}:28px 0 0 0;
    }
    p{
       #{$mar}:1px 0 0 0;
    }
}
.seventh-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p7{
            display:none;
        }
    }
    .img7{
        width:75%;
        #{$mar}:20px 0 0 4%;
    }
    .seventh-span-icon{
        #{$mar}:2px 105px 0 0;
    }
    p{
        #{$mar}:0 105px 0 0;
    }
grid-column:1/1;
}
.eighth-section-image{
    @include display(column,center,center,nowrap);
    &:hover{
        .hover-p8{
            display:none;
        }
    }
    .img8{
        width:80%;
        height: auto;
        #{$mar}:0 0 0 10%;
    }
    .eighth-span-icon{
        #{$mar}: 3px 0 0 0;
    }
    p{
       #{$mar}: 0 0 0 0;
    }
}
}
@media screen and (min-width : 801px) and (max-width : 1024px){
    body{
        .main{
            grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
        }
    }
    .first-section-image{
        @include display(column,center,center,nowrap);
        .img1{
          width:76%;
          #{$mar}:-10% 13% 0 7%;
        }
        .first-span-icon{
            #{$mar}:0 40px 0 0 ;
        }
        p{
        #{$mar}:0 36px 0 0 ; 
        }
        &:hover{
            .hover-p{
                display:none;
            }
        }
    }
    .second-section-image{
        @include display(column,center,center,nowrap);
       .img2{
           width:80%;
           #{$mar}: -23% 13% 0 7%;
       }
       .second-span-icon{
        #{$mar}:0 30px 0 0 ; 
    }
    p{
        #{$mar}:0 30px 0 0 ;
    }
        &:hover{
            .hover-p2{
                display:none;
            }
        }
    }
    .third-section-image{
        @include display(column,center,center,nowrap);
        .img3{
            width:76%;
            #{$mar}:50px 13% 0 7%;
        }
        .third-span-icon{
            #{$mar}: 0 35px 0 0 ;
        }
        p{
        #{$mar}: 0 35px 0 0 ;
        }
        &:hover{
            .hover-p3{
            display:none;
            }
        }
    }
    .fourth-section-image{
        @include display(column,center,center,nowrap);
        .img4{
          width:85%;
          #{$mar}:-25px 0 0 5%;
        }
        .fourth-span-icon{
            #{$mar}:4px 24px 0 0;
        }
        p{ 
            #{$mar}:1px 30px 0 0 ;
        }
        &:hover{
            .hover-p4{
                display:none;
            }
        }
    }
    .fifth-section-image{
        @include display(column,center,center,nowrap);
        .img5{
            width:76%;
            #{$mar}-top:140px;
        }
        .fifth-span-icon{
            #{$mar}:0 45px 0 0;
        }
        p{
            #{$mar}:0 45px 0 0;
        }
        &:hover{
            .hover-p5{
                display:none;
            }
        }
    }
    .sixth-section-image{
        @include display(column,center,center,nowrap);
        .img6{
            width:90%;
        }
        .sixth-span-icon{
            #{$padd}: 35px 20px 0 0;
        }
        p{
           #{$padd}: 0 20px 0 0;
        }
      &:hover{
          .hover-p6{
              display:none;
          }
      }
    }
    .seventh-section-image{
        @include display(column,center,center,nowrap);
        .img7{
            width:85%;
            #{$mar}:90px 0 0 4%;
        }
        .seventh-span-icon{
            #{$mar}:4px 30px 0 0;
        }
        p{
            #{$mar}:0 30px 0 1px;
        }
        &:hover{
            .hover-p7{
                display:none;
            }
        }
    grid-column:1/1;
    }
    .eighth-section-image{
        @include display(column,center,center,nowrap);
        .img8{
            width:86%;
            height:auto;
        }
        &:hover{
            .hover-p8{
                display:none;
            }
        }
        .eighth-span-icon{
            #{$mar}: 3px 30px 0 0;
        }
        p{
           #{$mar}: 0 30px 0 0;
        }
    }
}
@media screen and (min-width:601px) and (max-width: 800px) {
    body{
        .main{
        grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
        }
    }
    .first-section-image{
        @include display(column,center,center,nowrap);
        .img1{
            width:90%;
            #{$mar}:0 0 0 0;
        }
        .first-span-icon{
           #{$mar}:0 32px 0 0 ;
        }
        p{
            #{$mar}:0 32px 0 0 ;
        }
        &:hover{
            .hover-p{
                display:none;
            }
        }
    }
    .second-section-image{
        @include display(column,center,center,nowrap);
        .img2{
            width:90%;
            #{$mar}: 1% 0 0 7.5%;
            // height:120%;
        }
        .second-span-icon{
            #{$mar}:4px 0 0 12px ;
        }
        p{
            #{$mar}:2px 0 0 12px ;
        }
        &:hover{
            .hover-p2{
                display:none;
            }
        }
    }
    .third-section-image{
        @include display(column,center,center,nowrap);
        .img3{
            width:90%;
            #{$mar}:0 0 0 0 ;
        }
        .third-span-icon{
        #{$mar}:0 35px 0 0 ;
        }
        p{
            #{$mar}:0 35px 0 0 ;
        }
        &:hover{
            .hover-p3{
                display:none;
            }
        }
    }
    .fourth-section-image{
        @include display(column,center,center,nowrap);
        .img4{
            width:95%;
            #{$mar}:0 0 0 4%;
        }
        .fourth-span-icon{
        #{$mar}:3px 0 0 0 ;
        }
        p{ 
            #{$mar}-top:1px;
        }
        &:hover{
            .hover-p4{
                display:none;
            }
        }
    }
    .fifth-section-image{
        @include display(column,center,center,nowrap);
        .img5{
            width:90%;
            #{$mar}:0 0 0 0 ;
        }
        .fifth-span-icon{
            #{$mar}:0 32px 0 0 ;
        }
        p{
            #{$mar}:0 32px 0 0 ;
        }
        &:hover{
            .hover-p5{
                display:none;
            }
        }
    }
    .sixth-section-image{
        @include display(column,center,center,nowrap);
        .img6{
            width:100%;
           #{$mar}:0 0 0 -1%;
        }
        .sixth-span-icon{
        #{$padd}:0;
        #{$mar}: 3px 0 0 0;
        }
        p{
        #{$padd}:0;
        }
        &:hover{
            .hover-p6{
                display:none;
            }
        }
    }
    .seventh-section-image{
        @include display(column,center,center,nowrap);
        grid-column:1/1;
        .img7{
            width:100%;
            height:115%;
            #{$mar}:0;
        }
        .seventh-span-icon{
            #{$mar}:32px 0 0 0;
        }
        p{
            #{$mar}: 0;
        }
        &:hover{
            .hover-p7{
                display:none;
            }
        }
    }
    .eighth-section-image{
        @include display(column,center,center,nowrap);
        .img8{
            height:120%;
            #{$mar}:0 0 0 15px;
        }
        .eighth-span-icon{
            #{$mar}: 41px 0 0 0;
        }
        p{
           #{$mar}: 0 0 0 0;
        }
        &:hover{
            .hover-p8{
                display:none;
            }
        }
    }
}
@media screen and (min-width:400px ) and (max-width :600px){
body{
    .main{
       grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
       #{$mar}-top:0;
    }
}
.navbar-section{
    nav{
        .navbar-main{
            #{$mar}-left:80%;
        }
    }
}
    .first-section-image{
        @include display(column,center,center,nowrap);
        .img1{
            width:77%;
            #{$mar}:0 0 0 12%;
        }
        &:hover{
            .hover-p{
                display:none;
            }
        }
    }
    .second-section-image{
        @include display(column,center,center,nowrap);
        .img2{
            width:80%;
            #{$mar}:90px 0 70px 10%; 
        }
        &:hover{
            .hover-p2{
                display: none;
            }
        }
    }
    .third-section-image{
        @include display(column,center,center,nowrap);
        .img3{
           width:80%;
           #{$mar}: 222px 0 0 10%;
        }
        &:hover{
            .hover-p3{
                display:none;
            }
        }
    }
    .fourth-section-image{
        @include display(column,center,center,nowrap);
        .img4{
            width:85%;
            #{$mar}:345px 0 0 7%;
        }
        &:hover{
            .hover-p4{
                display:none;
            }
        }
        .fourth-span-icon{
            #{$mar}:1px 0 0 15px;
        }
        p{
            #{$mar}-top:1px;
        }
    }
    .fifth-section-image{
        @include display(column,center,center,nowrap);
        .img5{
            width:80%;
            #{$mar}:420px 0 0 9.5%;
        }
        &:hover{
            .hover-p5{
                display:none;
            }
        }
    }
    .sixth-section-image{
        @include display(column,center,center,nowrap);
        .img6{
            width:85%;
            height:auto;
            #{$mar}:450px 0 0 7%;
        }
        &:hover{
            .hover-p6{
                display:none;
            }
        }
        .sixth-span-icon{
         #{$mar}-top:5px;
         #{$padd}:0;
        }
        p{
            #{$mar}-top:1px;
            #{$padd}:0;
        }
    }
    .seventh-section-image{
        grid-column:1/1;
        @include display(column,center,center,nowrap);
        .img7{
            width:90%;
            #{$mar}:350px 0 0 4.5%;
        }
        &:hover{
            .hover-p7{
                display:none;
            }
        }
        .seventh-span-icon{
            #{$mar}:4px 0 0 0;
        }
        p{
            #{$mar}:1px 0 0 0;
        }
    }
    .eighth-section-image{
        @include display(column,flex-start,center,nowrap);
        .img8{
            width:85%;
            height:auto;
           #{$mar}:160px 0 45px 7%;
        }
        &:hover{
            .hover-p8{
                display:none;
            }
        }
        .eighth-span-icon{
            #{$mar}: -40px 0 0 0;
        }
        p{
           #{$mar}: 0 0 0 0;
        }
    }
}
@media screen and (max-width : 399px) {
    body{
        .main{
            grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
        }
    }
    .navbar-section{
        h1{
            #{$padd}: 8px 0 8px 0;
        }
        nav{
            .navbar-main{
                #{$mar}-left:80%;
            }
        }
    }
    .first-section-image{
        @include display(column,center,center,nowrap);
        &:hover{
            .hover-p{
                display: none;
            }
        }
    }
    .second-section-image{
            @include display(column,center,center,nowrap);
            .img2{
                height:120%;
                #{$mar}:-20px 13% 0 7%;
            }
            &:hover{
                .hover-p2{
                    display: none;
                }
            }
            .second-span-icon{
                color:$star-color;
                #{$mar}: 27px 0 0 0;
            }
            p{
                #{$mar}:0 0 0 0 ;
            }
        }
        .third-section-image{
            @include display(column,center,center,nowrap);
            &:hover{
                .hover-p3{
                    display: none;
                }
            }
        }
        .fourth-section-image{
            @include display(column,center,center,nowrap);
            &:hover{
                .hover-p4{
                    display: none;
                }
            }
            .fourth-span-icon{
                color:$star-color;
                #{$mar}-top:5px;
            }
            p{
                #{$mar}-top:1px;
            }
        }
        .fifth-section-image{
            @include display(column,center,center,nowrap);
            .img5{
                #{$mar}:40px 13% 0 7%;
            }
            &:hover{
                .hover-p5{
                    display: none;
                }
            }
        }
        .sixth-section-image{
            @include display(column,center,center,nowrap);
            .img6{
                #{$mar}:60px 13% 0 2.3%;
            }
            &:hover{
                .hover-p6{
                    display: none;
                }
            }
            .sixth-span-icon{
                color:$star-color;
                #{$padd}: 65px 0 0 0;
            }
            p{
               #{$padd}: 0 0 0 0;
            }
        }
    .seventh-section-image{
        grid-column:1/1;
        @include display(column,center,center,nowrap);
        .img7{
            width:95%;
            #{$mar}:0 0 0 10px;
        }
        &:hover{
            .hover-p7{
                display: none;
            }
        }
        .seventh-span-icon{
            color:$star-color;
            #{$mar}:5px 0 0 2px;
        }
        p{
            #{$mar}:0 0 0 2px;
        }
    }
    .eighth-section-image{
        @include display(column,center,center,nowrap);
        &:hover{
            .hover-p8{
                display: none;
            }
        }
        .eighth-span-icon{
            color:$star-color;
            #{$mar}: 60px 0 0 0;
        }
        p{
           #{$mar}: 0 0 0 0;
        }
    }
    
}